@charset "UTF-8";
/* ==========================================================================
   Foundation
   ========================================================================== */
/* Reset
   ----------------------------------------------------------------- */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Base
   ----------------------------------------------------------------- */
html {
  height: 100%;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
  height: 100%;
}

body input, body button {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  cursor: pointer;
  margin: 0;
}

body a {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #0070c0;
}

body a:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

body a:visited,
body a:active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

body ul, body ol {
  margin-left: 1em;
}

/* Color
   ----------------------------------------------------------------- */
/* ----- */
.container {
  height: 100%;
}

/* ==========================================================================
   Layout
   ========================================================================== */
/* Header
   ----------------------------------------------------------------- */
.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: #333;
  background-color: #c3e8ea;
  padding: 15px;
  line-height: 25px;
  z-index: 1000;
}

.header .header__title {
  font-size: 25px;
  font-weight: normal;
}

.header .header__title > a {
  color: #fff;
  text-decoration: none;
}

.header .header__title .header__title__img {
  height: 21px;
  margin-left: 5px;
}

.header .header__btn {
  float: left;
  color: #eee;
  text-decoration: none;
}

.header .header__info {
  float: right;
}

.header .header__info .header__info__point {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 3px 8px;
  margin-top: -3px;
  margin-right: 5px;
  background-color: #bf3b3b;
}

.header .header__info .header__info__point:after {
  content: " ";
  display: block;
  position: absolute;
  right: -5px;
  top: 50%;
  margin-top: -4px;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent #bf3b3b;
}

.header .header__info .p-login-menu__toggle {
  display: inline-block;
  color: #eee;
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
}

/* Contents
   ----------------------------------------------------------------- */
.contents {
  height: 100%;
}

.contents .content-main {
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  padding: 60px 0 0;
  width: 100%;
  min-height: 100%;
}

.contents .content-main .content-main__title {
  text-align: center;
  font-size: 1.3rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.contents .content-side {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 15px;
}

/* Global navigation
   ----------------------------------------------------------------- */
.global-nav {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(34, 34, 34, 0.9);
  transition: transform .2s linear;
  transform: translateX(0);
  z-index: 995;
}

.global-nav.closed {
  transform: translateX(-100%);
}

.global-nav .global-nav__list {
  border-bottom: 1px solid #fff;
  padding: 0;
  margin: 10px;
}

.global-nav .global-nav__list .global-nav__list__child {
  border-top: 1px solid #fff;
}

.global-nav .global-nav__list .global-nav__list__target {
  text-decoration: none;
  color: #fff;
  display: block;
  line-height: 4rem;
  font-size: 1.2rem;
}

.global-nav .global-nav__close-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/* ==========================================================================
   Object
   ========================================================================== */
/* Component
   ----------------------------------------------------------------- */
/**
 * button
 */
.c-btn {
  box-sizing: border-box;
  text-align: center;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  margin: 15px 0;
}

.c-btn.c-btn--block {
  display: block;
  width: 100%;
}

.c-btn.c-btn--lg {
  font-size: 1.5rem;
  padding: 10px 15px;
}

.c-btn.c-btn--primary {
  background-color: #325981;
}

.c-btn.c-btn--important {
  background-color: #bf3b3b;
}

/**
 * form
 */
.c-form {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}

.c-form .c-form__label {
  display: block;
  background-color: #ddd;
  padding: 5px 10px;
  font-size: .9rem;
  color: #444;
  font-weight: bold;
  border-bottom: 1px solid #bbb;
}

.c-form .c-form__group {
  margin-bottom: 10px;
}

.c-form .c-form__group .c-form__label {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.c-form .c-form__group .c-input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.c-form .c-form__group--bottom {
  text-align: center;
}

.c-form .c-form__group--bottom .c-btn {
  margin-bottom: 0;
}

/**
 * input
 */
.c-input {
  display: block;
  box-sizing: border-box;
  border: 1px solid #ddd;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1) inset;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
}

.c-input:focus {
  outline: none;
}

/* Project
   ----------------------------------------------------------------- */
/**
 * main canvas
 */
.main-canvas-container {
  width: 100%;
  height: calc(100vh - 60px);
  overflow: auto;
}

/**
 * tool box
 */
.toolbox {
  position: fixed;
  left: 20px;
  top: 80px;
  width: 20px;
  z-index: 1000;
}

.toolbox label {
  display: inline-block;
  width: 2em;
  padding: .5em;
  color: #9ed8da;
  background-color: #215658;
}

.toolbox label.current {
  color: #ffeb48;
  background-color: #133233;
}

.toolbox label:first-child {
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
}

.toolbox label:last-child {
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
}

.toolbox input {
  display: none;
}

/* Utility
   ----------------------------------------------------------------- */
/**
 * Clearfix
 */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/**
 * Display
 */
.hidden {
  display: none !important;
}

.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/*
* collapse
*/
.collapsed {
  display: none;
}

/*
* no-scrolled
*/
.no-scrolled {
  overflow: hidden;
}

/*
* animation
*/
@keyframes quiz-fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes quiz-slide-in-out {
  0% {
    bottom: 100%;
  }
  20% {
    bottom: 40%;
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes quiz-point-zoom-up {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes gacha-rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gacha-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gacha-zoom-up1 {
  0% {
    transform: scale(0) translateY(0%);
  }
  100% {
    transform: scale(0.5) translateY(-150%);
  }
}

@keyframes gacha-zoom-up2 {
  0% {
    transform: scale(0.5) translateY(-150%);
  }
  100% {
    transform: scale(1) translateY(0%);
  }
}

@keyframes gacha-zoom-up3 {
  0% {
    transform: scale(0) translateY(0%);
  }
  100% {
    transform: scale(0) translateY(0%);
  }
}
